<header class="flex justify-between items-center py-4 w-[95vh]">
    <img class="rounded-full w-12 h-12" src="https://media.licdn.com/dms/image/D4D03AQGRq6-c9psgPA/profile-displayphoto-shrink_800_800/0/1714333159010?e=1723680000&v=beta&t=BeE4VHX_y0RJizBWkAedPSBU9W9WfR26vWq87864tQQ" alt="photo ema">
    
    <nav class="flex flex-row gap-x-10 opacity-90">
        <a href="/">Home</a>
        <a href="/abaut">Abaut</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
    </nav>
</header>