---
import Badge from "./Badge.astro"
---
<section class=" w-[100vh] lg:w-[740px] mx-auto py-16">
    <h1 class="text-white text-5xl font-bold flex  flex-row gap-x-4 pb-10">Hey, soy Emanuel <a href="https://www.linkedin.com/in/emanuelandresgalli/" class="flex justify-center items-center"><Badge>Open to Work</Badge></></a></h1>
    <h2 class="text-2xl opacity-80 text-wrap"> <span class="text-yellow-200/90">Developer JR - Barcelona / Cataluña.</span> <span class="opacity-80">Estoy dando mis primeros pasos en el Sector IT, </span> <span class="text-red-200/90"> muy ilusionado por seguir creciendo en este mundo que tanto me apasiona.</span>   </h2>
    
</section>
