---
import Linkedin from '../components/icons/Linkedin.astro';
import GitHub from '../components/icons/GitHub.astro';
import Vercel from '../components/icons/Vercel.astro';
import WhatsApp from '../components/icons/WhatsApp.astro';
---
<li>
    <a class="rounded-full border border-white/10 flex justify-center items-center gap-x-2 py-2 px-4 bg-white/5 hover:scale-110 hover:bg-white/20 transition" href="https://www.linkedin.com/in/emanuelandresgalli/"> <Linkedin class="w-6 h-6"/> LinkedIn</a>
</li>
<li>
    <a  class="rounded-full border border-white/10 flex justify-center items-center gap-x-2 py-2 px-4 bg-white/5 hover:scale-110 hover:bg-white/20 transition"  href="https://github.com/emanuelandresgalli"><GitHub class="w-6 h-6" /> Git Hub</a>
</li>
<li>
    <a  class="rounded-full border border-white/10 flex justify-center items-center gap-x-2 py-2 px-4 bg-white/5 hover:scale-110 hover:bg-white/20 transition"  href="https://vercel.com/emanuelandresgallis-projects"><Vercel class="w-6 h-6" /> Vercel </a>
</li>
<li>
    <a  class="rounded-full border border-white/10 flex justify-center items-center gap-x-2 py-2 px-4 bg-white/5 hover:scale-110 hover:bg-white/20 transition"  href="https://wa.me/+34654212710"><WhatsApp class="w-6 h-6" /> WhatsApp</a>
</li>